.movie-link {
  transition: all 0.3s ease-in-out;
}

.movie-link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

.popcorn-img {
  width: 150px;
  margin: 0 auto;
  margin-top: -50px;
  animation: popcorn 0.8s linear infinite;
}

.popcorn-img img {
  object-fit: cover;
  width: 100%;
}

@keyframes popcorn {
  from {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-20deg);
  }
}

.movie-details-wrapper {
  text-align: center;
  padding-top: 10vh;
}

.movie-details-wrapper h3 {
  font-weight: 300;
  letter-spacing: 1px;
}

.movie-details-wrapper img {
  margin: 25px 0;
  object-fit: cover;
  width: 100%;
}

.movie-details-wrapper p {
  line-height: 25px;
  margin-bottom: 20px;
}

h6 {
  text-align: center;
}

.genres-list {
  list-style: none;
  text-align: left;
  font-weight: 300;
}

@media (max-width: 540px) {
  .popcorn-img {
    width: 100px;
  }
}
